<div class="container" [ngClass]="{'opened':start}">
  <div class="upper-container"></div>
  <app-button class="start-button" [text]="'Start'" (clicked)="startMeter()"></app-button>
  <div class="bottom-container"></div>

  <div class="left-container" *ngIf="start">
    <h1>
      Gecko-O-Meter (CSS only)
    </h1>
    <app-meter-gauge [maxValue]="100" [minValue]="0" [value]="40"></app-meter-gauge>

  </div>
  <div class="right-container" *ngIf="start">
    <h1>
      Gecko-O-Meter (CSS only)
    </h1>
  </div>
</div>