<div class="container" [ngClass]="{'opened':start}">
  <div class="upper-container"></div>
  <app-button class="start-button" [text]="'Start'" (clicked)="startMeter()"></app-button>
  <div class="bottom-container"></div>

  <div class="left-container" *ngIf="start">
    <h1>
      Gecko-O-Meter (CSS only)
    </h1>
    <app-meter-gauge [maxValue]="maxValue" [minValue]="minValue" [value]="value"></app-meter-gauge>
    <app-button class="" [text]="'Single Mode'" (clicked)="getMeasures()"></app-button>


  </div>
  <div class="right-container" *ngIf="start">
    <h1>
      Gecko-O-Meter (CSS only)
    </h1>
  </div>
</div>