.meter-gauge{
    content: '';
    width: 370px;
    height: 200px;
    background-color: #E5E871;
    margin: 20px auto auto auto;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    &:before{
      content: '';
      position: absolute;
      width: 35px;
      height: 35px;
      margin-left: 178px;
      margin-top: 178px;
      border-radius: 20px;
      background-color: #8FA960;
    }
    #needle{
      content: '';
      position: absolute;
      margin-top: 20px;
      margin-left: 185px;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 180px solid #3B6856;
      border-radius: 10px;
      -webkit-transform-origin: 50% 98%;
      -ms-transform-origin: 50% 98%;
      transform-origin: 50% 98%;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: all 6s;
    }
  }

  .meter-scale{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .max{
      flex:1;
      color: white;
      text-align: center;
      font-weight: 100;
      font-family: sans-serif;
    }
    .min{
      flex:1;
      color: white;
      text-align: center;
      font-weight: 100;
      font-family: sans-serif;
    }
  }